@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --blue: #141024;
    --red: #D52027;
    --white: #FFFFFF;
}


*{
    font-family: "Jost", sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transform: all .2s linear;
}



a{
    color: var(--white);
    text-decoration: none;
    position: relative;
            
}

.header{
    background-color: var(--blue);
    height: 685px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    top: 0; left: 0; right: 0;
}


.header .container .logo{
    width: 228px;
    height: 48px;
    color: var(--white);
    font-family: Jost;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-left: -80px;
}

.header .container .navbar{
    justify-content: space-between;
    align-items: center;
    display: flex; 
    width: 324px;
    height: 32px;
    color: var(--white);
}

.header .container .navbar a{
    width: 89px;
    height: 32px;    
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    color: var(--white);
}

.header .container .contact-info{
    width: 255px;
    height: 48px;
    font-family: "Jost";
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    text-align: right;
    color: var(--white);
    margin-right: -80px;
}

.header .container a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px; 
    background-color: #fff; 
    transition: width 0.3s; 
}
.header .container a:hover::after {
    width: 100%;
}

.header .container a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px; 
    background-color: #fff; 
    transition: width 0.3s ease, right 0.3s ease; 
}
.header .container a:hover::before {
    width: 100%;
    right: 0;
}


.header .hero {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 50px;
}

.header .hero .hero-content {
    z-index: 1;
    max-width: 600px;
    color: white;
    margin-left: 100px; 
    margin-top: -120px;
}

.header .hero .hero-content h1 {
    font-family: "Jost";
    font-size: 70px;
    font-weight: 600;
    line-height: 112px;
    text-align: left;
}

.header .hero .hero-content p {
    width: 478px;
    height: 64px;
    font-family: "Jost";
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: var(--white);
    margin-top: 20px;

}

.header .hero .hero-content .cta-button {
    background-color: var(--red); 
    color: var(--white);
    width: 260px;
    height: 79px;
    top: 75px;    
    padding: 25px 54px 25px 54px;
    gap: 10px;
    border-radius: 5px ;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    border: 3px solid var(--red);

}

.header .hero .hero-content .cta-button:hover{
    transition: border-color 0.3s ease, background-color 0.7s ease;
    color: var(--red);
    background-color: var(--white);
}

.header .hero .hero-image {
    position: relative;
    z-index: 1;
    width: 300px; 
    margin-left: 100px; 
}

.header .hero .hero-image img {
    max-width: 100%;
    height: auto;
    margin-left: -150px; 
    margin-bottom: 35px;
}

.hero::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 25%; 
    width: 350px;
    height: 350px;
    border: 60px solid #fff; 
    border-radius: 50%;
    transform: translate(50%, -50%);
    z-index: 0;
}

.menu-toggle, .menu-close {
    display: none; 
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.about .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.about .container .title{
    width: 891px;
    height: 144px;
    margin-top: 40px;
    margin-left: 40px;

}

.about .container .title .description {
    font-family: Jost;
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    text-align: left;
    color: var(--blue);
}

.about .container .title span {
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: var(--blue);
}

.about .stats {
    display: flex;
    justify-content: space-around;
    margin-left: 65px;
    margin-top: 30px;
}

.about .stat-item {
    flex: 1 1 200px;
    margin: 20px;
}

.about .stat-item h2 {
    font-family: Jost;
    font-size: 70px;
    font-weight: 600;
    line-height: 112px;
    text-align: left;

    color: var(--red);
    margin-bottom: 10px;
}

.about .stat-item p {
    width: 260px;
    height: 58px;
    color: #141024B2;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;

}

.promise{
    height: 485px;

}

.promise .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    margin-top: 100px;
}

.promise .container h2{
    width: 682px;
    height: 80px;
    color: var(--blue);
    font-family: Jost;
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    text-align: left;
    margin-left: 40px;
}

.promise .container .stats{
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    margin-top: 60px;
}

.promise .container .stats h4{
    width: 170px;
    height: 38px;
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: var(--blue);
}

.promise .container .stats p{
    width: 360px;
    height: 87px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #141024B2;    
    margin-top: 20px;
}

.promise .stat-item h4 span {
    display: inline-block; 
    width: 24px;
    height: 24px;
    background-color: #14102414; 
    text-align: center; 
    line-height: 24px; 
    border-radius: 50%; 
    color: var(--blue); 
    font-size: 15px;
    cursor: pointer;
}

.swiper{
    height: 886px;
}



.swiper .swiper-container {
    padding: 50px 0;
    z-index: 1; 
}

  .swiper .swiper-container .heading{
    width: 683px;
    height: 80px;
    font-family: Jost;
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    text-align: left;
    color:var(--blue) ;   
    margin-left: 135px;
    margin-bottom: 40px;
  }
 

  .swiper .swiper-slide {
    display: flex;
    justify-content: center;
  }
  
  .swiper .team-member {
    padding: 10px;
    border-radius: 20px;
    background-color: #fff;
    margin-left: 20px;
    padding-left: 100px;
  }
  
  .swiper .team-member img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .swiper .team-member h3 {
    width: 241px;
    height: 38px;
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: var(--blue);
    margin-top: 15px;
  }
  
  .swiper .team-member p {
    width: 361px;
    height: 29px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #141024B2;    
    margin: 5px 0;
  }
  
  .swiper .more-info {
    margin-top: 10px;
    width: 93px;
    height: 29px;
    color: var(--red);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
}
  
.swiper .more-info::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: var(--red); 
    transition: width 0.3s; 
}
.swiper .more-info:hover::after {
    width: 100%;
}

.swiper .more-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 1px; 
    background-color: var(--red);
    transition: width 0.3s ease, right 0.3s ease; 
}
.swiper .more-info:hover::before {
    width: 100%;
    right: 0;
}




.swiper .direction {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 1220px;
}

.swiper .direction .right, 
.swiper .direction .left {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: #1e1e3c; 
    color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px; 
    cursor: pointer;
    margin: 0 10px; 
    transition: background-color 0.3s ease, opacity 0.3s ease;
    position: relative; 
}

.swiper .direction .right:before, 
.swiper .direction .left:before {
    font-family: 'FontAwesome'; 
    font-size: 16px; 
    color: #fff; 
    content: '';
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.swiper .direction .left:before {
    content: '\f054'; 
}

.swiper .direction .right:before {
    content: '\f053'; 
}

.swiper .direction .right:hover, 
.swiper .direction .left:hover {
    background-color: rgba(30, 30, 60, 0.8); 
    opacity: 0.9; 
}

.swiper-container.blur {
    filter: blur(5px);
}

.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    justify-content: center; 
    align-items: center; 
}

.modal .container {
    background: #fff; 
    padding: 20px;
    border-radius: 20px;
    max-width: 860px; 
    max-height: 80vh; 
    overflow: auto;
}


.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.modal .modal-content .modal-header {
    display: flex;
    gap: 15px;

}

.modal .modal-content .modal-header .modal-img {
    object-fit: cover;
    width: 160px;
    height: 222px;
    border-radius: 20px;

}

.modal .modal-content .modal-header .main{
    margin-left: 20px;
}

.modal .modal-content .modal-header h2{
    width: 183px;
    height: 38px;
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
}

.modal .modal-content .modal-header p{
    width: 261px;
    height: 29px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #141024B2;    
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal .modal-content .modal-header .social-links {
    display: flex;                
    gap: 10px;                    
}

.modal .modal-content .modal-header .social-links a{
    height: 30px;
    width: 30px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 50px;
    display: flex;                
    justify-content: center;      
    align-items: center; 
}

.modal .modal-content .modal-header .social-links a:hover{
    background-color: var(--red);
    transition: 0.4s;
}


.modal .modal-content .close-btn {
    position: absolute;
    margin-left: 700px;
    cursor: pointer;
    width: 64px;
    height: 29px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: right;
    color: #141024B2;
}

.modal .modal-content .close-btn:hover{
    color: var(--red);
}

.modal .modal-body {
    margin-top: 20px;
}

.modal .modal-body h3{
    width: 100%;
    height: 38px;
    font-family: Jost;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;
    color: var(--blue);  
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal .modal-body p{
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: var(--blue);

}

.tabs {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: auto; 
    margin-top: 40px;
    margin-left: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .tab-link {
    cursor: pointer;
    width: 120px;
    height: 42px;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #14102433;
    margin-left: -130px;
}
  
  .tab-link:hover{
      color: black;
      transition: 0.5s;
  }
  
  .tab-link.active {
    color: var(--red);
  }
  
  .modal  .tab-content {
    max-height: 400px; 
    padding: 10px; 
  }

  .tab-content {
    display: none;
  }

  .tab-content.active {
    display: block;
  }



 

.pricing .pricing-section {
    text-align: center;
    margin: 50px 0;
    width: 1160px;
    height: 640px;
    margin-left: 35px;
}

.pricing .pricing-section h1 {
    width: 573px;
    height: 80px;
    font-family: Jost;
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    text-align: left;
    color: var(--blue);
    margin-bottom: 70px;
    margin-left: 135px;
}

.pricing .pricing-section .pricing-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-left: 140px;
}

.pricing .pricing-section .pricing-cards .card {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 360px;
    height: 460px;
    border-radius: 20px ;
    border: 1px solid #ccc ;
    transition: transform 0.6s ease, background-color 0.6s ease; 
    transform-origin: center; 

}

.pricing .pricing-section .pricing-cards .card h2 {
    margin-bottom: 10px;
    height: 48px;
    font-family: Jost;
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    color: var(--blue);    
    margin-top: 20px;

}

.pricing .pricing-section .pricing-cards .card .price {
    font-family: Jost;
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    text-align: center;     
    color: var(--blue);
    margin-bottom: 10px;
    height: 80px;
    margin-top: 50px;
    transition: color 0.6s ease; 
}

.pricing .pricing-section .pricing-cards .card .description {
    margin-bottom: 20px;
    height: 58px;
    color: var(--blue);
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    transition: color 0.6s ease; 
}

.pricing .pricing-section .pricing-cards .card button {
    background-color: var(--red);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 280px;
    height: 79px;    
    padding: 25px 54px 25px 54px;
    gap: 10px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    margin-top: 40px;
    transition: transform 0.6s ease; 
}

.pricing .pricing-section .pricing-cards .card:hover {
    background-color: var(--blue);
    transform: scaleY(1.05); 
    transition: 0.3s;
}

.pricing .pricing-section .pricing-cards .card:hover button {
    transform: translateY(10px); 
    transition: 0.3s;

    
}

.pricing .pricing-section .pricing-cards .card:hover h2,
.pricing .pricing-section .pricing-cards .card:hover .price,
.pricing .pricing-section .pricing-cards .card:hover .description {
    color: white;
}


.footer-section{
    margin-top: 120px;
}

.discount-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red);
    padding: 40px;
    color: white;
    margin-top: 50px;
    height: 460px;
    margin-top: 0;
}

.discount-text {
    max-width: 50%;
    margin-left: 150px;
    margin-bottom: 160px;
}

.discount-text h2 {
    font-size: 32px;
    margin-bottom: 10px;
    width: 476px;
    height: 94px;
    font-family: Jost;
    font-size: 36px;
    font-weight: 600;
    line-height: 46.8px;
    text-align: left;

}

.discount-text p {
    font-size: 18px;
    width: 396px;
    height: 26px;
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    

}

.discount-form {
    max-width: 40%;
    margin-right: 150px;
}

.discount-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    height: 286px;
    border-radius: 5px ;

}

.discount-form input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    width: 500px;
    height: 64px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.01px;
    text-align: left;
    color: #282944B2;
}



.discount-form button {
    background-color: var(--blue);
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 500px;
    height: 64px;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 26.01px;
    text-align: center;
    
}

.discount-form button:hover {
    background-color: var(--white);
    color: var(--red);
    transition: 0.5s;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    color: white;
    padding: 20px;
    margin-top: 0;
    height: 150px;
}

.footer-left {
    text-align: left;
}

.footer-left .logo{
    width: 478px;
    height: 48px;
    font-family: Jost;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;    
}

.footer-left .description{
    width: 129px;
    height: 26px;
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    
}

.footer-right {
    text-align: right;
    width: 255px;
    height: 48px;
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    text-align: right;
    cursor: pointer;
}

.footer-right:hover{
    color: var(--red);
    transition: 0.5s;

}



