@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --white: #fff;
    --grey: #2E363E;
    --yellow: #FED84C;
    --blue: #081130;
    --border: .1rem solid rgba(255,255,255,.3);
}


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

.header {
    background-image: url('images/cake_company.png'); 
    background-size: cover;
    width: 100%;
    height: 145vh; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}



.header .navbar{
    border-bottom: 1px solid var(--grey); /* This adds a line below the navbar */
    padding-bottom: 30px; /* Optional padding for better spacing */
    margin-top: 20px;
    justify-content: space-between;
}

.logo{
    width: 179px;
    height: 31px;
    top: 47px;
    margin-left: 100px;
    gap: 17px;
}

.logo a {
    color: var(--white);
    font-size: 21px;
    font-weight: 500;
    line-height: 30.03px;
}

.logo a:hover {
    color: var(--grey);
}

.header .contact{
    width: 231px;
    height: 51px;
    gap: 15px;
    margin-right: 100px;
}

.header .contact .phone-link{
    font-weight: 700;
    font-size: 20px;
    color: var(--white);
    line-height: 30.4px;
    width: 180px;
    height: 31px;
}

.header .contact .phone-link .fa-phone-volume{
    font-size: 17px;
}

.header .contact .phone-text {
    width: 220px;
    height: 20px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: var(--white);
    padding-left: 24px;
}



.header .navbar .address {
    display: flex;
    align-items: center;
    color: var(--white);
    gap: 10px; /* Adjusts spacing between icon and text */
    margin-left: 400px;
}

.header .navbar .address i {
    font-size: 16px; /* Adjust size of the icon */
    margin-top: -12px;
}

.header .navbar .address p {
    margin: 0; /* Remove default margin */
    width: 170px;
    height: 36px;

}




.header .hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 50px;
    color: white;
    margin-bottom: 355px;
    margin-left: 80px;
    width: 647px;
    height: 334px;
    gap: 24px;

}

.header .hero-section .cta-button{
    background-color: #F2F6FA;
    border: none;
    color: #2E363E;
    cursor: pointer;
    width: 122px;
    height: 37px;
    padding: 10px 18px 10px 18px;
    gap: 10px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.1em;
    text-align: center;

}   

.header .hero-section h1 {
    font-size: 40px;
    line-height:60px;
    font-weight: 700;
}

.header .hero-section p {
    width: 544px;
    height: 69px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.32px;
    text-align: left;
}

.header .hero-section .hero-action{
    width: 507px;
    height: 88px;
    gap: 20px;
    margin-top: 30px;

}

.header .hero-section .btn {
    background-color: var(--yellow);
    border: none;
    font-size: 1rem;
    color: #2E363E;
    cursor: pointer;
    margin-bottom: 20px;
    width: 277px;
    height: 88px;
    padding: 30px 50px 30px 50px;
    gap: 10px;
    border-radius: 8px ;
    font-size: 18px;
    font-weight: 500;
    line-height: 27.36px;
    text-align: center;
}

.header .hero-section .hero-action .btn:hover {
    background-color: var(--grey);
    color: var(--white);
    transform: scale(1.03);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.header .hero-section .hero-action .hero-text{
    display: inline-block;
    width: 150px;
    height: 48px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-left: 15px;
    
}

.catalog{
    width: 100%;
    height: auto; 
    gap: 80px;
}

.catalog .heading{
    text-align: center;
    width: 1400px;
    height: 60px;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1px;
    color: var(--grey);
    margin-bottom: 50px;
}

.catalog .box-container {
    width: calc(100% - 200px); /* Soldan ve sağdan 100px boşluk bırakarak hizalar */
    height: auto; /* Yükseklik otomatik olsun */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Her satırda 3 kutu */
    gap: 5px; 
    justify-content: center; 
    margin-left: 100px; 
    margin-right: 100px; 
}


.catalog .box-container .box {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    height: 582px;
    padding: 5px;
    box-sizing: border-box;
    border: .1rem solid rgba(255,255,255,.3);
}




.catalog .box-container .box img{
    width: 380px;
    height: 245px;
    border-radius: 10px 10px 0px 0px;
}

.catalog .box-container .box h3{
    width: 247px;
    height: 35px;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.32px;
    color: var(--grey);
    margin-top: 50px;
    margin-right: 70px;
}

.catalog .box-container .box p{
    width: 240px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey);
    margin-bottom: 15px;
    margin-right: 75px;
}

.catalog .box-container .box .price{
    width: 128px;
    height: 36px;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    margin-right: 185px;
    margin-bottom: 10px;
    color: #434B53;
}

.catalog .box-container .box .btn{
    width: 163px;
    height: 68px;
    padding: 20px 40px 20px 40px;
    gap: 10px;
    border-radius: 8px ;
    background-color: var(--yellow);
    color: var(--grey);
    font-size: 18px;
    font-weight: 500;
    line-height: 27.36px;
    margin-right: 150px;
    margin-bottom: 60px;
}

.catalog .box-container .box .btn:hover{
    background-color: var(--grey);
    color: var(--white);
    transform: scale(1.03); 
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.photo{
    background-color: #081130;
    width: 100%;
    height: 1200px;
    top: 3129px;
    gap: 10px;
    margin-top: -50px;
}

.photo .photo-up{
    width: 100%;
    height: 243px;
    background-image: url(images/cloud1.png);
}

.photo .container{
    background-image: url(images/phone\ 1.png);
    width: 950px;
    height: 1034px;
    
}

.photo .container .content{
    width: 481px;
    height: 61px;
    margin-bottom: 600px;
    margin-left: 830px;
    display: flex;
    flex-direction: column;

}

.photo .container .content .top-title{
    width: 226px;
    height: 37px;
    gap: 10px;
    border-radius: 5px ;
    background-color: #F2F6FA;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--grey);
    margin-bottom: 20px;

}

.photo .container .content h2{
    width: 481px;
    height: 180px;
    color: var(--white);
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.photo .container .content p{
    width: 481px;
    height: 61px;
    font-size: 21px;
    font-weight: 400;
    line-height: 30.03px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: var(--white);
    margin-bottom: 20px;
}

.photo .container .content .btn{
    width: 320px;
    height: 88px;
    padding: 30px 50px 30px 50px;
    gap: 10px;
    border-radius: 8px ;
    background-color: var(--yellow);
    color: var(--blue);
    font-size: 18px;
    font-weight: 500;
    line-height: 27.36px;
    text-align: center;
    margin-top: 10px;
}

.photo .container .content .btn:hover{
    background-color: var(--grey);
    color: var(--white);
    transform: scale(1.03); 
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.photo .photo-down{
    height: 489px;
    background-image: url(images/cloud.png);
    margin-top: -500px;
}

.about .container{
    width: 100%;
    height: 830px;
}

.about .container .about-content{
    width: 580px;
    height: 637px;
    gap: 50px;
    margin-left: 100px;
    
}

.about .container .about-content .top-title{
    width: 191px;
    height: 37px;
    padding: 10px 18px 10px 18px;
    gap: 10px;
    border-radius: 5px ;
    font-size: 11px;
    font-weight: 400;
    line-height: 16.5px;
    letter-spacing: 0.1em;
    text-align: center;
    background-color: #F2F6FA;
    color: var(--blue);
}

.about .container .about-content h2{
    width: 580px;
    height: 180px;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: left;
    color: var(--blue);
}

.about .container .about-content .list{
    width: 438px;
    height: 222px;
    gap: 30px;
    margin-bottom: 50px;
}

.about .container .about-content .list .item{
    width: 421px;
    height: 54px;
    gap: 12px;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    color: var(--blue);
    list-style: none;
    margin-top: 30px;
    align-items: center;  
    margin-bottom: 15px;  
}


.about .container .about-content .list .item i{
    margin-right: 10px;
    color: #5D6AFB;
    font-size: 10px;
}
.about .container .about-content .btn{
    width: 299px;
    height: 88px;
    padding: 30px 50px 30px 50px;
    gap: 10px;
    border-radius: 8px ;
    font-size: 18px;
    font-weight: 500;
    line-height: 27.36px;
    text-align: center;    
    background-color: var(--yellow);
    color: var(--blue);
}

.about .container .about-content .btn:hover{
    background-color: var(--grey);
    color: var(--white);
    transform: scale(1.03); 
    transition: transform 0.2s ease, background-color 0.2s ease;  
}

.about .container .woman-photo{
    background-image: url(images/woman.png);
    width: 580px;
    height: 804px;
    margin-right: 90px;
}

.about .container .woman-photo .about-woman{
    width: 287px;
    height: 112px;
    margin-top: 505px;
    margin-left: -77px;

}

.about .container .woman-photo .about-woman .name{
    width: 287px;
    height: 60px;
    padding: 15px 0px 15px 0px;
    gap: 10px;
    background-color: var(--grey);
    font-weight: 500;
    font-size: 24px;
    line-height: 29.26px;
    letter-spacing: -0.30000001192092896px;
    text-align: center;
    color: var(--white);
}

.about .container .woman-photo .about-woman .profession{
    width: 218px;
    height: 52px;
    padding: 15px;
    gap: 10px;
    background-color: #F2F6FA;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--grey);
    margin-left: 30px;
}

.reviews{
    width: 100%;
    height: 1490px;
    background-color: #081130;
    position: relative;
}

.reviews .reviews-title{
    text-align: center;
    height: 60px;
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1px;
    color: var(--white);
}

.reviews .reviews-slider{
    width: 880px;
    height: 615px;
    left: 984px;
    padding: 70px 143px 70px 143px;
    gap: 54px;
    border-radius: 5px;
    border: 2px ;
    background-color: var(--white);
    margin-top: 100px;
    margin-left: 250px;
    display: flex; 
    flex-direction: column; 
}

.reviews .reviews-slider .swiper-slide-active{
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.reviews .reviews-slider .box{
    width: 1180px;
    height: 615px;
    left: 984px;
    padding: 70px 143px 70px 143px;
    gap: 54px;
    border-radius: 5px ;
    border: 2px ;
    display: flex; 
    text-align: center; 
    transform: scale(.9);
}

.reviews .reviews-slider .box .swiper-content{
    width: 380px;
    height: 399px;
    gap: 24px;
    margin-left: -350px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    margin-top: -20px;
    transform: scale(1);

}

.reviews .reviews-slider .box .swiper-content .swiper-title{
    width: 100%;
    height: 86px;
    font-size: 30px;
    font-weight: 500;
    line-height: 42.9px;
    color: var(--grey);
    margin-bottom: 60px;

}

.reviews .reviews-slider .box .swiper-content .swper-text{
    width: 100%;
    height: 225px;
    gap: 24px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25.5px;
    color: var(--grey);
    
}

.reviews .reviews-slider .box .swiper-content .swiper-link{
    width: 210px;
    height: 22px;
    gap: 1px;
    color: #4A94FF;
    
}

.reviews .reviews-slider .box .swiper-user{
    width: 380px;
    height: 475px;
    gap: 30px;
    margin-left: -50px;
    margin-top: -80px;

}

.reviews .reviews-slider .box .swiper-user img{
    opacity: 1;
}

.reviews .reviews-slider .box .swiper-user .swiper-user-name{
    width: 204px;
    height: 31px;
    font-size: 21px;
    font-weight: 500;
    line-height: 30.03px;
    text-align: center;
    color: var(--grey);
    margin-left: 90px;
    margin-top: 20px;
}

.reviews .reviews-slider .box .swiper-user .swiper-user-location{
    width: 143px;
    height: 28px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    text-align: center;
    color: #A6AEB6;
    margin-left: 120px;
}

.reviews .reviews-slider .direction {
    display: flex; 
    justify-content: space-between; 
    width: 155.86px; 
    height: 66px;
    border-radius: 100px;
    margin: 0 auto; 
    margin-top: -100px;
}

.reviews .reviews-slider .direction .swiper-button-next,
.reviews .reviews-slider .direction .swiper-button-prev {
    background-color: var(--yellow); 
    width: 66px;
    height: 66px;
    border-radius: 50%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

.reviews .reviews-slider .direction .swiper-button-next i,
.reviews .reviews-slider .direction .swiper-button-prev i {
    font-size: 24px; 
}

.reviews .reviews-slider .direction .swiper-button-next:hover,
.reviews .reviews-slider .direction .swiper-button-prev:hover {
    background-color: var(--grey);
    color: var(--white);
    transform: scale(1.03); 
    transition: transform 0.2s ease, background-color 0.2s ease;  }

.reviews .photo-down{
    height: 289px;
    background-image: url(images/cloud4.png);
    margin-top: 100px;
}

.products{
    height: 2545px;
    padding: 2px 0px 4px 0px;
    gap: 80px;
    text-align: center;
}

.products .products-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: center;
    color: var(--grey);
}

.products .description {
    margin-bottom: 80px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34.32px;
    text-align: center;
    color: var(--grey);
}

.products .list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px; 
    padding: 0;
    list-style: none;
}

.products .list .item {
    flex: 1 1 calc(50% - 20px);
    max-width: 634px;
    padding: 1px;
    margin-right: 50px;
    margin-top: -15px;
    margin-left: -10px;
}

.products .list .item .image {
    display: block;
    width: 690px;
    height: auto; 
}

.footer{
    height: 872px;
    background-color: var(--blue);
    position: relative;
}

.footer .container {
    display: flex;
    flex-direction: column; 
    align-items: center;     
}

.footer .container .contact{
    height: 394px;
    width: 1180;
    padding: 70px 99px 70px 99px;
    gap: 36px;
    border-radius: 8px ;
    background-color: var(--white);
    justify-content: center;
    text-align: center;
    margin-top: -30px;
}

.footer .container .contact .footer-title{
    width: 880px;
    height: 48px;
    font-size: 36px;
    font-weight: 700;
    line-height: 47.88px;
    text-align: center;
    color: var(--grey);
}

.footer .container .contact .footer-description{
    width: 880px;
    height: 31px;
    font-size: 21px;
    font-weight: 400;
    line-height: 30.03px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: var(--grey);
}

.footer .container .contact .footer__form .footer__tel {
    width: 780px;
    height: 127px;
    gap: 24px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 50px;
}

.footer .container .contact .footer__form .footer__tel-inner {
    position: relative; 
    display: flex;
}

.footer .container .contact .footer__form .footer__tel-inner .input-reset {
    width: 380px;
    height: 85px;
    padding: 30px 26px 29px 60px; 
    gap: 10px;
    border-radius: 8px;
    background-color: #F2F6FA;
    color: #7E868E;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    align-items: center;
}

.footer__button:hover{
    background-color: var(--grey);
    color: var(--white);
    transform: scale(1.03); 
    transition: transform 0.2s ease, background-color 0.2s ease;
}
    
 .footer__button{
    width: 380px;
    height: 86px;
    padding: 29px 41px 29px 41px;
    gap: 10px;
    border-radius: 8px ;
    background-color: var(--yellow);
    border: none;
}



.footer .container .contact .footer__form .footer__tel-inner i {
    position: absolute;
    height: 25px;
    width: 25px;
    transform: translateY(-50%);
    color: #7E868E;
    font-size: 13px;
    margin-top: 49px;
    margin-left: 22px;
}

.footer .container .contact .footer__form .footer__agreement{
    width: 505px;
    height: 17px;
    padding: 1px 0px 1px 0px;
    gap: 7px;
    font-size: 11px;
    font-weight: 400;
    line-height: 14.3px;
    text-align: left;
    color: #7E868E;    
}


.footer .container .lists {
    width: 605px;
    height: 58px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 70px;
}

.footer .container .lists .list{
    width: 705px;
    height: 18px;
    gap: 43px;
    display: flex;
    list-style: none; 
    padding: 0;
    margin-bottom: 20px; 
}

.footer .container .lists .list .item{
    width: 395px;
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

.footer .container .lists .list .item .f-link{
    color: #7E868E;

}

.footer .container .lists .copyright{
    width: 478px;
    height: 18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #7E868E;
}

/* media queries */